* {
  margin: 0;
  padding: 0;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  padding: 0 2rem;
}

h1 {
  font-size: 2rem;
}

.conteudo-principal {
  display: flex;
}

.conteudo {
  flex: 2;
  background-color: blue;
}

.conteudo main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.conteudo h1 {
  text-align: center;
}

header {
  text-align: center;
  background-color: green;
}

header h1 {
  margin: 0;
}

.rodape {
  background-color: #f0f0f0;
  font-size: 0.75rem;
  text-align: center;
  padding: 1rem;
}

.asideI {
  background-color: #f0f0f0;
  flex: 1;
  padding: 1rem;
}
.asideII {
  background-color: #f0f0f0;
  flex: 1;
}

.nav-esquerdo ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.nav-esquerdo button {
  padding: 1rem;
}

.cabecalho {
  height: 4rem;
}
